/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2018, 12:50:29 PM
    Author     : rciarl8967

Color Scheme: Red #ff1300; Yellow #ffeb00; Purple #3711bb; Green #00cc24 Light Yellow #faf39c

*/
*{
    box-sizing: border-box;
}
/* Background color for wholepage */
body{
    background-color: #666666;/*dark grey */
    font-family: 'Chakra Petch', sans-serif;
}
/* Style of header */
header {
    float: left;
    margin: auto;
    background-image: url("images/Pic_ofGameHeader.jpg");
    background-color:  #3399ff;/*light blue */
    background-repeat: repeat-x;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: #ffffff;/*White */
    /*font-size: 1.25em;*/
    /*font-weight: bold;*/
}
/* Placement of logo*/
#logo{
    float: left;
    position:relative;
    width: 20%;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* placement and style of title at top of page */
#title{
    float: left;
    position: relative;
    text-align: left;
    padding-bottom: 0;
    padding-left: 12%;
    margin-top: 1em;
    margin-left: 2%;
    border: 0;
    width: 75%;
    font-size: 300%;
    font-weight: bold;


}

hr{
    clear: both;
}

/* Top navigation */
.topnav {

    background-color: #ffeb00;/*Yellow */
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #333333;/*black */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #3711bb;/*Purple */
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #00cc24;/*Green */
    color: white;
}
a.active:hover{
    background-color: #3711bb;/*Purple */
    color: white;
}

#contact{
    float: right;
}

#about {
    float: right;
}

/* align game images*/
div.box-wrapper{
    align-content: center;
    padding-top: 5%;
}
/* Align boxes */
.box{
    margin-left: 5%;
    width: 85%;
}
/* center and align thumbnail images */
.thumbnail{
    width: 30%;
    text-align: center;
    float: left;
    margin-top: 3px;
    background-color: #ff1300;/*Red */
    padding-bottom: 2em;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 0%;
    border-radius: 3px;
    padding-top: 2em;
}
/* Width of the images in home page*/
img{
    width: 95%;
}
/* Hover properties on the thumbnail*/
.thumbnail img:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
    cursor: pointer;
}
/* The On-click buttons for all pages*/
.allButtons{
    clear: both;
    float: left;
    background-color: #6f54cc;/* light purple*/
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 2em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
.allButtons:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}
/* Style of game box for all games and contact pages*/
.gameBox{
    margin: 0 auto;
    box-sizing: border-box;
    width: 85%;
    height: 30em;
    background-color: #faf39c;/*Light Yellow */

}


/* CSS for the Lotto Generator page */
/* CSS for the Lotto Generator page */
/* CSS for the Lotto Generator page */

.lottoBox{ /*Class for the boxes that generate the random number */
    float: left;
    margin: 0;
    border-radius: 7px;
    border: solid;
    margin-right: 1em;
    width: 2em;
    height: 2em;   
    font-size: 100%;
    text-align: center;
    display: inline-block;
}

/* ID for the "power Ball" text */
#pBallScript {

    margin: 0;
    color: red;
    font-weight: bold;
    font-size: 150%;
    width: 5em; 
    display: inline-block;

}
/* Class for the powerball box */
.powerball {

    margin: 0;
    border-radius: 7px;
    border: solid;
    border-color: red;
    width: 2em;
    height: 2em;
    display: inline-block;


}
/* CSS for MadLib Game */
/* CSS for MadLib Game */
/* CSS for MadLib Game */

.anserBox{
    background-color: #00cc24;/*Green */
}

#story{
    margin: auto;
    clear: both;
    box-sizing: border-box; 
    padding-top: 2em;
    width: 85%;
    height: 20em;
    background-color: #00cc24;/*Green */
}
#madLib{
    padding-left:  2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

#madLibTitle{
    margin-left: 4em; ;

}

/*CSS for Roll Dice Game */
/*CSS for Roll Dice Game */
/*CSS for Roll Dice Game */

#myDice-1, #myDice-2 {
    margin: auto;
    padding: 2em;
    width: 10em;
    height: 10em;
}

#diceForm {
    padding: 2em;
    margin-left: 2em;
}

/*CSS for Guessing Game Page */
/*CSS for Guessing Game Page */
/*CSS for Guessing Game Page */

.form {
    align-content: center;
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 10px;
    border: dotted 1px black;
}

/*CSS for Contact Page */
/*CSS for Contact Page */
/*CSS for Contact Page */

#formInput{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.cForm {
    border-radius: 5px;
    background-color: #3711bb;;
    padding: 20px;
    color: white;
    height: 500px;
    width: 75%;
    align-content: center;
}

#centerForm {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.gameBoxForm {
    margin: 1em auto;
    box-sizing: border-box;
    width: 85%;
    max-height: 2000px;
    background-color: #faf39c;/*Light Yellow */
    padding: 2em;

}

.about {
    margin: 2em auto -1em auto;
    box-sizing: border-box;
    width: 85%;
    max-height: 500px;
    background-color: white;
    border: dotted 1px black;
    border-radius: 30px;
    padding: 25px;
    position: relative;
}
